html {
	background-image: image-url("sp/common/bg/bg.jpg");
}

#aloe20th {
	$aloe20thImgPath: "pc/enquete/aloe20th.png";
	background-image: image-url($aloe20thImgPath);
	background-position: center top;
	background-repeat: no-repeat;
	width: image-width($aloe20thImgPath);
	height: image-height($aloe20thImgPath);
	margin: 20px auto 0;
	position: relative;
	div {
		position: absolute;
		letter-spacing: 0.1rem;
		left: 147px;
		top: 240px;
		text-align: center;
		@include adjust-font-size-to(17px, 0.9);
	}
}


#lead {
	display: none;
}

#steps {
	@include backgroundImageBox("sp/enquete/step-bg.png");
	margin: -60px auto 27px;
	position: relative;
	div,
	a {
		position: absolute;
		top: 85px;
		height: 102px;
		p {
			text-align: center;
			
			margin-top: 57px;
			@include adjust-font-size-to(20px, 1);
			span {
				display: block;
			}
		}
		
	}
	.step1 {
		left: 8px;
		width: 128px;
		p {
			letter-spacing: 0.1rem;
		}
	}
	.step2 {
		left: 153px;
		width: 140px;
	}
	.step3 {
		left: 310px;
		width: 128px;
		p {
			letter-spacing: 0.1rem;
		}
	}
}

#concept {
	@include backgroundImageBox("sp/enquete/concept-bg.png");
	p {
		@include adjust-font-size-to(20px, 1.5);
		text-align: left;
		margin: 0 auto;
		padding: 233px 60px 0;
	}
}

.arrow-down {
	@include backgroundImageBox("sp/enquete/arrow-down.png");
	margin: 0 auto 15px;
}
/*--------------------------------------------------
* enquete area
* --------------------------------------------------*/
#questionnaire-area {
	background-color: #FFF;
	margin: 0 20px 25px;
	padding: 10px;
	box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.1);
	h1 {
		margin: 0 auto;
		@include backgroundImageBox("sp/enquete/step2-title-bg.png");
		p {
			font-size: 32px;
			line-height: 1.5;
			letter-spacing: 0.18rem;
			text-align: center;
			margin: 0 auto;
			padding-top: 15px;
			padding-left: 0;
		}
	}

	/* Present Area */
	#present {
		.present-info {
			text-align: center;
			margin: 25px 0;
			h2 {
				background: url('/assets/img/pc/enquete/step2-lead-bg.png') left bottom repeat-x;
				@include adjust-font-size-to(25px, 1.3);
				font-weight: bold;
				margin: 0 auto 30px;
				padding: 0 5px;
			}
			p {
				@include adjust-font-size-to(24px, 1.5);
				text-align: center;
				margin: 0;
			}
		}
		.present-image {
			display: block;
			margin: 0 auto;
		}
	}




	/* Enquete Area */
	#enquete {
		padding: 0 10px;
		/* UI Override */
		.ui-state-default,
		.ui-widget-content .ui-state-default,
		.ui-widget-header .ui-state-default {
			border: 2px solid $textGreen;
			@include box-shadow(rgb(230, 229, 229) 3px 3px);
			@include border-radius(6px);
			margin-right: 10px;
			.ui-button-text {
				@include border-radius(6px);
				@include adjust-font-size-to(26px, 1);
				border: #FFF 2px solid;
				padding: 18px 0;
			}
		}
		.ui-button {

		}
	}
	h3.question {
		padding: 0 0 15px 0;
		@include adjust-font-size-to(32px, 1.2);
		letter-spacing: 0.24rem;
		margin-top: 50px;
		background: url(/assets/img/pc/enquete/question-separator.png) left bottom no-repeat;
		span {
			@include inline-block();
			width: 90px;
			height: 45px;
			margin-top: -4px;
			background: url(/assets/img/pc/enquete/question.png) 0 0 no-repeat;
		}
		@for $i from 1 through 5 {
			$n: $i - 1;
			.q#{$i} {
				background-position: 0 ($n * -50) + px;
			}
		}
	}

	fieldset {
		border: 0;
		padding: 0;
		padding-top: 1px;
		display: block;
		margin: 0 20px 40px;
		position: relative;
		@include unselectable;
		/* スライダ */
		.ui-slider {
			margin: 100px auto 0;
			cursor: pointer;
		}
		.ui-widget-content {
			border: none;
			@include backgroundImageBox("sp/enquete/slider-base.png");
			@include unselectable;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		}
		.ui-slider-handle {
			border: none !important;
			margin-left: -23px;
			box-shadow: none !important;
			outline: none;
			@include backgroundImageBox("sp/enquete/spoon.png");
			background-color: transparent;
			top: -78px;
		}

		/* 人気ゾーン */
		.avg {
			@include backgroundImageBox("sp/enquete/popular-zone.png");
			background-size: contain !important;
			margin-left: -16px;
			position: absolute;
			top: -1px;
			left: 0;
			@include animations(popular, 3s, ease-in-out, infinite);
		}

		.zone-text {
			position: absolute;
			right: 0;
			bottom: -34px;
			z-index: 1;
		}

		/* 現在選択中 */
		#sweetness {
			.selected {
				@include backgroundImageBox("sp/enquete/mark-sweetness.png");
				background-size: contain !important;
				height: 55px;
			}
		}
		#strength {
			.selected {
				@include backgroundImageBox("sp/enquete/mark-strength.png");
				background-size: contain !important;
				height: 55px;
			}
		}
		.selected {
			position: absolute;
			top: 85px;
			left: 50%;
			padding-top: 45px;
			text-align: center;
			margin-left: -54px;
			z-index: 2;
			p {
				@include adjust-font-size-to(32px, 1.8);
				color: $yellow;
				text-align: center;
				display: inline;
				font-weight: bold;
			}
			span {
				color: $yellow;
				@include adjust-font-size-to(24px, 1.8);
				padding-left: 3px;
			}
		}
		/* 人気ゾーン および スライダラベル位置 */
		@for $i from 0 through 10 {
			$n: $i * 10;
			.avg#{$n} {
				left: percentage($i / 10);
			}
		}
		/* number */
		.num {
			position: relative;
			height: 20px;
			margin: 8px 25px 0;
			li {
				@include adjust-font-size-to(16px, 1);
				color: $textGreen;
				position: absolute;
				width: 30px;
				text-align: center;
				margin-left: -15px;
			}
			@for $i from 0 through 10 {
				.num#{$i} {
					left: percentage($i / 10);
				}
			}
		}

		/* ボタン */
		.button-set {
			label {
				@include ease-out-quint($animationTime, 0, background);
			}
			.balloon {
				@include inline-block();
				@include transform-origin(0, 50%);
				font-weight: bold;
				width: 80px;
				height: 72px;
				background: url($imagePath + 'pc/enquete/q2-balloon.png') 0 0 no-repeat;
				background-size: cover !important;
				p {
					text-align: center;
					padding: 0 0 0 9px;
					@include adjust-font-size-to(24px, 1);
				}
			}
			&.choiced {
				.balloon {
					@include animations(q2_balloon, 0.3s, ease-in-out, 1);
					background-position: 0 -100px !important;
					p {
						color: $textGreen;
					}
				}
			}
		}
	}
	/* Q1. 好みの味は？ ---------- */
	#sweetness-area {
		margin-top: 100px;
		margin-bottom: 170px;
		@include backgroundImageBox("sp/enquete/base-sweetness.png");
	}
	#strength-area {
		margin-top: 100px;
		margin-bottom: 110px;
		@include backgroundImageBox("sp/enquete/base-strength.png");
	}

	.q1-balloon {
		@include backgroundImageBox("pc/enquete/q1-balloon.png");
		margin: 0 auto;
		margin-top: -70px;
		p {
			@include adjust-font-size-to(22px, 1);
			text-align: center;
			margin: 0;
			padding-top: 19px;
			span {
				color: $textGreen;
			}
		}
	}

	/* Q2. 脂肪分は？ ---------- */
	#fatcontent {
		label {
			width: 396px;
		}
	}
	#fatcontent1-set {
		margin-bottom: 25px;
	}
	/* Q3. 好みのアロエは？ ---------- */
	#aloe {
		label {
			width: 396px;
		}
	}
	#aloe1-set {
		margin-bottom: 25px;
	}
	#aloe2-set {
		margin-bottom: 25px;
	}

	/* Q4 求める後味は？ ---------- */
	#aftertaste {
		label {
			width: 396px;
		}
	}
	#aftertaste1-set {
		margin-bottom: 25px;
	}

	/* Q5 どんな香りがいい？ ---------- */
	#smell {
		label {
			width: 396px;
		}
	}
	#smell1-set {
		margin-bottom: 25px;
	}
	#smell2-set {
		margin-bottom: 25px;
	}
	#smell3-set {
		margin-bottom: 25px;
	}

	/* 送信ボタン */
	#send-enquete-button {
		margin: 20px auto 50px;
		width: 370px;
		height: 120px;
		a {
			display: block;
			background: url($imagePath + 'sp/enquete/reply-button.png') 0 0 no-repeat;
			width: 370px;
			height: 120px;
			@include ease-out-quint(140);
		}
		.attention {
			@include adjust-font-size-to(20px, 1);
			text-align: center;
			position: relative;
			top: 110px;
			display: none;
		}
		&.disabled {
			background: url($imagePath + 'sp/enquete/reply-button-none.png') 0 0 no-repeat;
			a {
				display: none;
				cursor: default;
			}
			.attention {
				display: block;
			}
		}
	}

	/* ---------- 投稿済みエリア ---------- */
	#finish-area,
	#already-area {
		display: none;
		border: #e60012 2px solid;
		padding: 10px;
		margin: 20px 0;
		p {
			text-align: center;
			@include adjust-font-size-to(24px, 1.4);
			color: #e60012;
		}
	}
	&.already {
		#finish-area {
			display: block;
		}
		#present,
		#enquete {
			opacity: 0.5;
		}
		#send-enquete-button {
			background: url($imagePath + 'pc/enquete/reply-button-already.png') 0 0 no-repeat !important;
			background-size: contain !important;
			.attention {
				display: none !important;
			}
		}
	}
}


/*--------------------------------------------------
* Complete area
* --------------------------------------------------*/
#thanks {
	margin: 30px auto 0;
	background: url('/assets/img/sp/enquete/complete/title.png') top center no-repeat;
	width: 600px;
	padding-top: 110px;
	
	h1 {
		font-size: 32px;
		line-height: 1.4;
		text-align: center;
		margin: 0 auto 10px;
		letter-spacing: 0.18rem;
	}
	p {
		@include adjust-font-size-to(20px, 1);
		text-align: center;
		margin-bottom: 30px;
	}
}

#complete-area {
	background-color: #FFF;
	padding: 30px 0;
	margin: 0 20px;
	box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.1);

	#present-area {
		margin: 0 auto;
		@include backgroundImageBox("sp/enquete/complete/present-bg.png");
		.message {
			padding: 190px 60px 0 60px;
			margin: 0;
			@include adjust-font-size-to(28px, 1.8);
			span {
				color: $textGreen;
			}
		}
	}
	.closing {
		background-color: $yellow;
		margin: 20px auto;
		width: 538px;
		color: $textGreen;
		text-align: center;
		padding: 1rem 0;
		@include adjust-font-size-to(24px, 1);
		span {
			font-weight: bold;
		}
	}

	#already-area {
		display: none;
		border: #e60012 2px solid;
		padding: 10px;
		margin: 40px 90px 20px;
		p {
			text-align: center;
			@include adjust-font-size-to(24px, 1.4);
			color: #e60012;
		}
	}

	#agreement {
		text-align: center;
		margin: 37px auto 15px;
		@include adjust-font-size-to(24px, 1);
		#agreement-check {
			@include inline-block();
		}
		.icheckbox_flat-red {
			@include inline-block();
			top: -2px;
			margin-right: 10px;
		}
		#agreement-link {
			color: $textGreen;
			border-bottom: 1px dotted $textGreen;
			&:hover {
				color: #005c25;
				border-bottom: 1px dotted #005c25;
			}
		}
	}

	#reply-button-wrap {
		margin: 0 auto 5px;
		width: 450px;
		height: 124px;
		a {
			display: block;
			background: url($imagePath + 'sp/enquete/complete/reply-button.png') 0 0 no-repeat;
			width: 450px;
			height: 124px;
			@include hide-text(right);
		}
		&.disabled {
			background: url($imagePath + 'sp/enquete/complete/reply-button-none.png') 0 0 no-repeat;
			a {
				display: none;
				cursor: default;
			}
		}
	}
}

.quit-button-wrap {
	margin: 60px auto 5px;
	width: 350px;
	height: 87px;
	a {
		display: block;
		background: url($imagePath + 'sp/enquete/complete/quit-button.png') 0 0 no-repeat;
		width: 350px;
		height: 87px;
		@include hide-text(right);
		@include ease-out-quint(140);

	}
}

/*--------------------------------------------------
* メールフォーム
* --------------------------------------------------*/
.cb-area-outer {
	display: none;
}


.cb-area {
	width: 600px;
	background: url($imagePath + "sp/enquete/overlay-bg.png") 0 0 repeat;
	padding: 30px 20px;
	margin-bottom: 10px;
	h3 {
		font-size: 21px;
		line-height: 1.4;
		margin: 0 auto 26px;
		text-align: center;
		span {
			display: block;
			font-size: 32px;
		}
	}

	h4 {
		@include adjust-font-size-to(24px, 1.4);
		text-align: center;
		margin: 0 auto 30px;
	}

	.apply-wrap {
		margin-bottom: 20px;
		span {
			padding: 10px 0;
			@include adjust-font-size-to(20px, 1.4);
		}
		input {
			:-webkit-input-placeholder {
				color: $textGreen;
			}
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				color: $textGreen;
				opacity:  1;
			}
			::-moz-placeholder { /* Mozilla Firefox 19+ */
				color: $textGreen;
				opacity:  1;
			}
			:-ms-input-placeholder { /* Internet Explorer 10+ */
				color: $textGreen;
			}
		}
	}
	#mail-input,
	#mail-confirm {
		background-color: $bgGreen;
		border: 0;
		padding: 20px;
		width: 480px;
		//@include adjust-font-size-to(20px, 1.4);
		font-size: 32px;
		color: $textGreen;
		-webkit-appearance: none;
	}
	input::-webkit-input-placeholder {
		font-size: 28px;
	}
	input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		opacity:  1;
		font-size: 28px;
	}
	input:-moz-placeholder { /* Mozilla Firefox 19+ */
		opacity:  1;
		font-size: 28px;
	}
	input:-ms-input-placeholder { /* Internet Explorer 10+ */
		font-size: 28px;
	}

	#error-area {
		height: 30px;
		text-align: center;
		color: $textGreen;
		@include adjust-font-size-to(20px, 1.4);
	}
	
	.inner {
		padding: 40px;
		background-color: #FFF;
	}

	#apply-button {
		margin: 0 auto 0;
		padding-top: 15px;
		width: 300px;
		height: 100px;
		a {
			display: block;
			background: url($imagePath + 'sp/enquete/complete/apply-button.png') 0 0 no-repeat;
			width: 300px;
			height: 100px;
			@include hide-text(right);
			@include ease-out-quint(140);
		}
		&.disabled {
			background: url($imagePath + 'sp/enquete/complete/apply-button-none.png') 0 0 no-repeat;
			a {
				display: none;
				cursor: default;
			}
		}
	}
}

/*--------------------------------------------------
* 応募要項エリア
* --------------------------------------------------*/
#agreement-area {
	.inner {
		height: 500px;
		overflow-y: scroll;

		p {
			margin-top: 0;
			@include adjust-font-size-to(18px, 1.8);
		}
		p.note {
			margin: 0;
			color: #999;
			@include adjust-font-size-to(16px, 1.6);
		}
		a {
			color: $textGreen;
			&:hover {
				text-decoration: underline;
			}
		}
		h4 {
			@include adjust-font-size-to(24px, 1.6);
			text-align: left;
			margin: 0;
			font-weight: bold;
		}
	}
}

/*--------------------------------------------------
* シェアエリア
* --------------------------------------------------*/
#reply-share-area {
	.inner {
		padding: 40px 50px;
		>p {
			text-align: center;
			margin: 0 auto 40px;
			font-size: 25px;
			line-height: 1.5;
		}
		#share-button-area {
			@include clearfix();
			a {
				display: block;
				height: 80px;
				@include border-radius(3px);
				@include ease-out-quint(120);
				p {
					text-align: center;
					padding-top: 28px;
					padding-left: 30px;
					letter-spacing: 0.1rem;
					color: #FFF;
					@include adjust-font-size-to(28px, 1);
					margin: 0;
				}
				&:hover {
					opacity: 0.8;
				}
			}
			#share-fb {
				background: #537bbd url($imagePath + 'sp/enquete/complete/fb.png') 27px 20px no-repeat;
				margin-bottom: 30px;
			}
			#share-tw {
				background: #78cdf0 url($imagePath + 'sp/enquete/complete/tw.png') 27px 20px no-repeat;
			}
		}
	}
}
