@import "compass";
@import "compass/reset";

// Here's where we define some default constants
@import "../partials/base";

// Then we'll import the compass extension
@import "h5bp";

// Noqw, you can simply include everything
// (except print and helpers) by uncommeting this line
@include h5bp-normalize;

// Finally, put your own styles in these partials
// and add more as needed (i.e. forms, tables, nav)
@import "../partials/animation";
@import "../partials/fonts";
@import "../partials/page";

// Helpers classes should come second-to-last
@include h5bp-helpers;

// Media should come last
@import "../partials/media";

@media only screen and (max-width: 640px) {
	@import "sp_sample";
}


@media only screen and (min-width: 641px) {
	@import "pc_sample";
}
