@charset "UTF-8";

@font-face {
  font-family: "snsicon";
  src:url("fonts/snsicon.eot");
  src:url("fonts/snsicon.eot?#iefix") format("embedded-opentype"),
    url("fonts/snsicon.woff") format("woff"),
    url("fonts/snsicon.ttf") format("truetype"),
    url("fonts/snsicon.svg#snsicon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "snsicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="sns-"]:before,
[class*=" sns-"]:before {
  font-family: "snsicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sns-twitter-2:before {
  content: "t";
}
.sns-facebook-square1:before {
  content: "f";
}
.sns-twitter-1:before {
  content: "T";
}
.sns-facebook-square2:before {
  content: "F";
}
.sns-facebook-square3:before {
  content: "s";
}
.sns-tyo:before {
  content: "a";
}
.sns-op-arrow-right:before {
  content: "b";
}
.sns-cross:before {
  content: "c";
}
.sns-op-arrow-down:before {
  content: "d";
}
.sns-op-arrow-left:before {
  content: "e";
}
.sns-plus:before {
  content: "g";
}
.sns-plus-1:before {
  content: "h";
}
.sns-facebook:before {
  content: "i";
}
